# CPU-only torch sudah diinstall terpisah di Dockerfile
# JANGAN tambahkan torch di sini karena akan pull versi GPU yang besar

fastapi==0.111.0
uvicorn[standard]==0.29.0
sentence-transformers==3.4.1
numpy==1.26.4
pandas==2.2.2
python-multipart==0.0.9
pydantic==2.7.1
